@import 'tailwindcss';

@font-face {
  font-family: 'Amarante';
  src:
    url('/fonts/amarante/Amarante-Regular.ttf'),
    url('/fonts/amarante/amarante-regular-webfont.woff'),
    url('/fonts/amarante/amarante-regular-webfont.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/poppins/Poppins-Light.ttf') format(truetype),
    url('/fonts/poppins/poppins-light-webfont.woff') format(woff),
    url('/fonts/poppins/poppins-light-webfont.woff2') format(woff2),
    url('/fonts/poppins/Poppins-Regular.ttf') format(truetype),
    url('/fonts/poppins/poppins-regular-webfont.woff') format(woff),
    url('/fonts/poppins/poppins-regular-webfont.woff2') format(woff2),
    url('/fonts/poppins/Poppins-SemiBold.ttf') format(truetype),
    url('/fonts/poppins/poppins-semibold-webfont.woff') format(woff),
    url('/fonts/poppins/poppins-semibold-webfont.woff2') format(woff2),
    url('/fonts/poppins/Poppins-ExtraBold.ttf') format(truetype),
    url('/fonts/poppins/poppins-extrabold-webfont.woff') format(woff),
    url('/fonts/poppins/poppins-extrabold-webfont.woff2') format(woff2),
    url('/fonts/poppins/Poppins-Black.ttf') format(truetype),
    url('/fonts/poppins/poppins-black-webfont.woff') format(woff),
    url('/fonts/poppins/poppins-black-webfont.woff2') format(woff2);
  font-weight: 300, 400, 600, 800, 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-styled: 'Amarante', sans-serif;
  --font-sans: 'Poppins', sans-serif;

  --color-primary: #001bb7;
  --color-secondary: #ff8040;
  --radius-default: 10px;
  --color-neutral: #f5f1dc;
  --color-text: #1e1e1e;
}

[data-theme-primary='blue'] {
  --color-primary: #001bb7;
}

[data-theme-primary='green'] {
  --color-primary: #00b728;
}

[data-theme-primary='purple'] {
  --color-primary: #5f00b7;
}

[data-theme-rounded='square'] {
  --radius-default: 0;
}

[data-theme-rounded='light'] {
  --radius-default: 5px;
}

[data-theme-rounded='mid'] {
  --radius-default: 10px;
}

[data-theme-rounded='heavy'] {
  --radius-default: 15px;
}

[data-theme='dark'] {
  --color-neutral: #1e1e1e;
  --color-text: #f5f1dc;
}

[data-theme='light'] {
  --color-neutral: #f5f1dc;
  --color-text: #1e1e1e;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--color-secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    font-family: var(--font-sans);
    color: var(--color-text);
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  p,
  span,
  div {
    font-size: 14px;
  }

  small {
    font-size: 10px;
    display: inline-block;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 0;
  border-radius: 8px;
}
